@charset "utf-8";


/* ======================= 메인 ======================= */
.main_wrap #header {background: transparent !important;}
.main_wrap #header h2 {display: none;}

/* ======= 섹션 내용 - 공통 ======= */
.fullpage .section .container_wrap {z-index: 3;height: 100%;padding-top: 110px;}
.fullpage .section .container_wrap .notice {font-size: 14px;font-weight: 400;color: rgb(255, 255, 255);padding:13px 0;}
.fullpage .section .container_wrap .notice a {color: rgb(255, 255, 255);overflow:hidden;text-overflow:ellipsis;white-space:nowrap;max-width: 650px;display: inline-block;}
.fullpage .section .container_wrap .notice::before {content: "";display: inline-block;width: 18px;height: 14px;background: url(../img/main/main_notice.png) no-repeat;vertical-align: middle;margin-right: 10px;padding-bottom: 5px;}
.fullpage .section .container_wrap .sub_p {font-weight: 400;font-size: 30px;color: #fff;}
.fullpage .section .container_wrap .main_p {font-weight: 400;font-size: 50px;color: #fff;line-height: 1.2;}

.fullpage .section .container_wrap .main_p span {font-weight: 700;}
.fullpage .section .container_wrap .main_p span b {font-weight: 400;}
.fullpage .section .container_wrap .sub2_p {font-weight: 400;font-size: 16px;color: #fff;line-height: 1.5;}
.fullpage #footer {position: relative;z-index: 4;}

.c_orange {color: #f68121;}
.c_green {color: #8db81b;}
.c_sal {color: #f7bc5f;}
.c_orange2 {color: #f6a821;}
.c_skyblue {color: #a7e5ff;}
#fp-nav li:nth-child(5) {display: none;}
.link_a {display: inline-block;margin-top: 2.2%;font-weight: 400;font-size: 14px;color: #d6d6d6;text-decoration: underline;}
.link_a::after {content: "";display: inline-block;width: 4px;height: 9px;background: url(../img/main/main_happybean_a.png) no-repeat;margin-left: 10px;}
.link_img_a {font-size: 0;}
.link_img_a li {display: inline-block;}
.link_img_a li a {display: inline-block;font-size: 18px;color: #fff;width: 212px;height: 140px;background: url(../img/main/main_2_a.png) no-repeat right center;margin-right: 35px;padding-top: 40px;}
.link_img_a li a span {font-size: 30px;color: #f6a821;line-height: 45px;font-weight: 700;}

/* ======= background ======= */
/* 메인 섹션 왼쪽 bg */
.fullpage #section1 .section_bg {position: absolute;top: 0;left: 0;width: 100%;height: 100%;background: url(../img/main/main_bg1_1.jpg) no-repeat center/ cover;-webkit-transition: all 0.6s ease-in-out; -moz-transition: all 0.6s ease-in-out; -o-transition: all 0.6s ease-in-out; transition: all 0.6s ease-in-out;}
.fullpage #section1 .section_bg.slide2 {background: url(../img/main/main_bg1_2.jpg) no-repeat center/ cover;} 
.fullpage #section1 .section_bg.slide3 {background: url(../img/main/main_bg1_3.jpg) no-repeat center/ cover;} 
.fullpage #section2 .section_bg {position: absolute;top: 0;left: 0;width: 100%;height: 100%;background: url(../img/main/main_bg2.jpg) no-repeat center/ cover;}
.fullpage #section3 .section_bg {position: absolute;top: 0;left: 0;width: 100%;height: 100%;background: url(../img/main/main_bg3.jpg) no-repeat center/ cover;}
.fullpage #section4 .section_bg {position: absolute;top: 0;left: 0;width: 100%;height: 100%;background: url(../img/main/main_bg4.jpg) no-repeat center/ cover;}

/* 메인 섹션 오른쪽 bg */
.fullpage .section .sectionR_bg {position: absolute;top: 0;right: 0;height: 100%;width: 100%;background: url(../img/main/main_rightbg_step1.png) no-repeat center/ cover;z-index:3;}
.fullpage .section .sectionR_bg.step2 {position: absolute;top: 0;right: 0;height: 100%;width: 100%;background: url(../img/main/main_rightbg_step2.png) no-repeat center/ cover;}
.fullpage .section .sectionR_bg.step3 {position: absolute;top: 0;right: 0;height: 100%;width: 100%;background: url(../img/main/main_rightbg_step3.png) no-repeat center/ cover;}

/* ======= animation ======= */
.fullpage .section .shareholder_animation, .fullpage .section .company_animation {position: absolute;max-width: 100%;z-index:2;display: none;}
.fullpage .section .shareholder_animation {bottom: -4px;right: 17%;z-index: 3;}
.fullpage .section .company_animation {top: 12%;right: 0;opacity: 0;display: inline-block;}

/* ----------------------------------------------
 * Generated by Animista on 2018-12-26 21:16:55
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */
@-webkit-keyframes tracking-in-expand{0%{letter-spacing:-.5em;opacity:0}40%{opacity:.6}100%{opacity:1}}@keyframes tracking-in-expand{0%{letter-spacing:-.5em;opacity:0}40%{opacity:.6}100%{opacity:1}}
.text_spin {-webkit-animation:tracking-in-expand .7s cubic-bezier(.215,.61,.355,1.000) both;animation:tracking-in-expand .7s cubic-bezier(.215,.61,.355,1.000) both;}

/* ======= .sectionR_btnarea ======= */
.fullpage .section .sectionR_wrap a {color: #fff;}
.fullpage .section .sectionR_wrap .sectionR_btnarea {position: absolute;right: 0;text-align: center;width: 385px;}
.fullpage .section .sectionR_wrap .sectionR_btnarea.top {top: 20%}
.fullpage .section .sectionR_wrap .sectionR_btnarea.top img {position: fixed;left: 0;bottom: 0;}
.fullpage .section .sectionR_wrap .sectionR_btnarea.bottom {top: 70%}
.fullpage .section .sectionR_wrap .sectionR_btnarea p {font-weight: 400;font-size: 34px;color: #fff;margin-bottom: 20px;line-height: 1.3;}
.fullpage .section .sectionR_wrap .sectionR_btnarea p b {font-weight: 700;margin-right: 10px;}
.fullpage .section .sectionR_wrap .sectionR_btnarea button {font-size: 16px; font-weight: 400; background: transparent; border: 1px solid #fff; color: #fff; border-radius: 60px; padding: 6px 17px; min-width: 152px; height: 44px;}
.fullpage .section .sectionR_wrap .sectionR_btnarea button::after {content: ">";margin-left: 10px;}
.fullpage .section .sectionR_wrap .sectionR_btnarea .login_company_status, .fullpage .section .sectionR_wrap .sectionR_btnarea .login_juju_status {display: none;}

.fullpage .section .sectionR_wrap.step2 .sectionR_btnarea.bottom {display: none;}
.fullpage .section .sectionR_wrap.step3 .sectionR_btnarea.top {display: none;}

#header.bg_shareholder ~ .fullpage .login_prev_status, #header.bg_company ~ .fullpage .login_prev_status {display: none;}
#header.bg_shareholder ~ .fullpage .login_juju_status {display: block;}
#header.bg_company ~ .fullpage .login_company_status {display: block;}

/* ======= swiper css ======= */
/* dow, kosdaq, nasdaq, kospi 슬라이더 css */
.swiper-container.stock_info {width: 294px; height: 46px; margin: 155px 0 0;position: absolute;bottom: 16%;left: 26px;z-index: 15;}
.stock_info .swiper-slide {text-align: center; font-size: 18px; background: rgba(0,0,0,0.4);  /* Center slide text vertically */ display: -webkit-box; display: -ms-flexbox; display: -webkit-flex; display: flex; -webkit-box-pack: center; -ms-flex-pack: center; -webkit-justify-content: center; justify-content: center; -webkit-box-align: center; -ms-flex-align: center; -webkit-align-items: center; align-items: center; }
.stock_info .swiper-button-prev, .stock_info .swiper-button-next {width: 35px;height: 23px;margin-top: 0;}
.stock_info .swiper-button-prev {right: 0;left: auto;top: 0;background: none;background: url(../img/main/stock_info_prev.png) no-repeat center 18px;}
.stock_info .swiper-button-next {right: 0;bottom: 0;background: url(../img/main/stock_info_next.png) no-repeat center 5px;}
.stock_info .swiper-slide > ul {width: 100%;padding-right: 35px;font-size: 0;}
.stock_info .swiper-slide > ul li {display: inline-block;vertical-align: middle;height: 20px;}
.stock_info .swiper-slide > ul .stock_name {font-size: 16px;font-weight: 400;color: #fff;width: 90px;position: relative;margin-top: 3px;}
.stock_info .swiper-slide > ul .stock_name::after {content: "";display: inline-block;width: 1px;height: 15px;background: #555a5a;position: absolute;right: 0;top: 2px;}
.stock_info .swiper-slide > ul .stock_score {font-size: 20px;font-weight: 400;color: #fff;width: 109px;}
.stock_info .swiper-slide > ul .stock_percent {font-size: 12px;font-weight: 400;color: #898989;width: 58px;height: 20px;line-height: 20px;}
.stock_info .swiper-slide > ul .stock_percent::before {content: "―";margin-right: 5px;}
.stock_info .swiper-slide > ul .stock_percent.up {font-size: 12px;font-weight: 400;color: #ff2101;width: 58px;height: 20px;line-height: 20px;}
.stock_info .swiper-slide > ul .stock_percent.up::before {content: "▲";margin-right: 5px;}
.stock_info .swiper-slide > ul .stock_percent.down {font-size: 12px;font-weight: 400;color: #0173ff;width: 58px;height: 20px;line-height: 20px;}
.stock_info .swiper-slide > ul .stock_percent.down::before {content: "▼";margin-right: 5px;}

/* section1_text_swiper */
.section1_text_swiper {z-index: -1;height: 91%;}
.section1_text_swiper .swiper-pagination-bullet {background: #fff;opacity: 0.5;width: 14px;height: 14px;-webkit-transition: all 0.4s ease-out; -moz-transition: all 0.4s ease-out; -o-transition: all 0.4s ease-out; transition: all 0.4s ease-out;}
.section1_text_swiper .swiper-pagination-bullet-active {background: #fff;opacity: 1;width: 45px;height: 14px;border-radius: 50px;}
.section1_text_swiper .text_swiper_gostop {margin: 0 4px;width: 14px;height: 14px;text-indent: -9999px;font-size: 0;display:inline-block;cursor: pointer;vertical-align: top;background: url(../img/main/main_slide_pasue.png) no-repeat center;-webkit-transition: all 0.4s ease-out; -moz-transition: all 0.4s ease-out; -o-transition: all 0.4s ease-out; transition: all 0.4s ease-out;}
.section1_text_swiper .text_swiper_gostop.go {background: url(../img/main/main_slide_go.png) no-repeat center;}

/* ======= section1 ======= */
.fullpage #section1 .container_wrap .section1_text_swiper .swiper-slide {height: 100%;}
.fullpage #section1 .container_wrap .section1_text_swiper .swiper-slide[data-swiper-slide-index="0"] .sub_p {margin-top: 7.8%;}
.fullpage #section1 .container_wrap .section1_text_swiper .swiper-slide[data-swiper-slide-index="0"] > .main_count {font-size: 0;margin-top: 3.8%;}
.fullpage #section1 .container_wrap .section1_text_swiper .swiper-slide[data-swiper-slide-index="0"] > .main_count dl {display: inline-block;text-align: center;margin-right: 60px;}
.fullpage #section1 .container_wrap .section1_text_swiper .swiper-slide[data-swiper-slide-index="0"] > .main_count dl:last-of-type {margin-right: 0;}
.fullpage #section1 .container_wrap .section1_text_swiper .swiper-slide[data-swiper-slide-index="0"] > .main_count dl dt {font-size: 16px;font-weight: 400;color: #f68121;}
.fullpage #section1 .container_wrap .section1_text_swiper .swiper-slide[data-swiper-slide-index="0"] > .main_count dl dt::after {content: "";display: block;width: 30px;height: 1px;background: #f68121;text-align: center;margin: 15px auto 0;}
.fullpage #section1 .container_wrap .section1_text_swiper .swiper-slide[data-swiper-slide-index="0"] > .main_count dl dd {font-size: 50px;font-weight: 400;color: #fff;margin-top: 20px;}
.fullpage #section1 .container_wrap .section1_text_swiper .swiper-slide[data-swiper-slide-index="1"] .main_p {margin-top: 5.35%;margin-bottom: 30px;}
.fullpage #section1 .container_wrap .section1_text_swiper .swiper-slide[data-swiper-slide-index="1"] img {display: inline-block;position: absolute;left: 30%;top: 35%;margin-top: -15px;max-width: 100%;-webkit-transition: all 0.6s ease-in-out; -moz-transition: all 0.6s ease-in-out; -o-transition: all 0.6s ease-in-out; transition: all 0.6s ease-in-out;}
.fullpage #section1 .container_wrap .section1_text_swiper .swiper-slide[data-swiper-slide-index="2"] .main_p {margin-top: 10.6%;margin-bottom: 2.7%;}
.fullpage #section1 .container_wrap .section1_text_swiper .ico_happy_pointb {position: relative;margin-left: 5px;}
.fullpage #section1 .container_wrap .section1_text_swiper .ico_happy_pointb i {background: url(../img/main/ico_main_happystring.png) no-repeat;width: 29px;height: 66px;display: inline-block;text-indent: -9999px;position: absolute;top: -4px;}
.fullpage #section1 .container_wrap .section1_text_swiper .ico_main_v {background: url(../img/main/ico_main_v.png) no-repeat;width: 62px; height: 52px; display: inline-block; text-indent: -9999px; margin-left: 10px;}
.fullpage #section1 .container_wrap .section1_text_swiper .swiper-pagination {text-align: left;bottom: 200px;}

/* ======= section2 ======= */
.fullpage #section2 .container_wrap .main_p {margin-top: 7.8%;margin-bottom: 5.7%;}
.fullpage #section2 .container_wrap .link_a {margin-bottom: 2.2%;}
.fullpage #section3 .container_wrap .link_img_a li a {cursor: pointer;}
.fullpage #section2 .container_wrap .section2_subp {font-size: 12px;color: #d6d6d6;}

/* ======= section3 ======= */
.fullpage #section3 .container_wrap .main_p {margin-top: 7.8%;}
.fullpage #section3 .container_wrap .section3_subp {font-size: 16px;color: #fff;margin-top: 2.7%;margin-bottom: 5.4%;}
.fullpage #section3 .container_wrap .link_img_a li a {background: url(../img/main/main_3_a.png) no-repeat right center;cursor: pointer;}
.fullpage #section3 .container_wrap .link_img_a li a span {color: #a7e5ff;}
.fullpage #section3 .container_wrap .section3juju_li {display: none;}

/* ======= section4 ======= */
.fullpage #section4 .container_wrap .seciont4_div_wrap {margin-top: 6.8%;width: 796px;}
.fullpage #section4 .container_wrap .seciont4_div_wrap > p {font-size: 50px;color: #282a35;text-align: center;margin-bottom: 6.3%}
.fullpage #section4 .container_wrap .seciont4_div_wrap > p span {font-weight: 700;}

.fullpage #section4 .seciont4_div_wrap .focus_company {background: rgba(40, 42, 53, 0.6);color: #fff;text-align: center;display:table;height: 70px;margin: 0 58px;}
.fullpage #section4 .seciont4_div_wrap .focus_company .focus_company_l {display:table-cell;width: 235px;font-size: 18px;vertical-align: middle;}
.fullpage #section4 .seciont4_div_wrap .focus_company .focus_company_r {display:table-cell;width: 561px;vertical-align: middle;}
.fullpage #section4 .seciont4_div_wrap .focus_company .focus_company_r a {font-size: 30px;font-weight: 700;color: #fff;}
.fullpage #section4 .seciont4_div_wrap .box_wrap {padding: 0 48px 60px;}
.fullpage #section4 .seciont4_div_wrap .box_wrap::after {content: "";display: block;clear:both;}
.fullpage #section4 .seciont4_div_wrap .box_wrap .box {float: left;width: 220px;height: 195px;background: #fff;margin-right: 10px;margin-bottom: 10px;cursor: pointer;box-shadow: 3px 4px 5px 0px rgba(168,181,186,0.8);}
.fullpage #section4 .seciont4_div_wrap .box_wrap .box.none {background: #fff url(../img/main/small_non_data.jpg) no-repeat center !important;}
.fullpage #section4 .seciont4_div_wrap .box_wrap .box.long.none {background: #fff url(../img/main/long_non_data.jpg) no-repeat center !important;}
.fullpage #section4 .seciont4_div_wrap .box_wrap .box.none * {font-size: 0 !important;background: none !important;}
.fullpage #section4 .seciont4_div_wrap .box_wrap .box:first-child {margin-left: 10px;}

.fullpage #section4 .seciont4_div_wrap .box_wrap .box .vote_dday {margin-left: 15px;font-size: 16px;background: #282a35;color: #fff;width: 52px;height: 30px;display: inline-block;line-height: 30px;text-align: center;margin-bottom: 40px;}
.fullpage #section4 .seciont4_div_wrap .box_wrap .box .vote_status {text-align: center;font-size: 14px;color: #898989;margin-bottom: 13px;}
.fullpage #section4 .seciont4_div_wrap .box_wrap .box .vote_companyName {text-align: center;margin-bottom: 15px;}
.fullpage #section4 .seciont4_div_wrap .box_wrap .box .vote_companyName a {font-size: 26px;font-weight: 700;color: #f68121;max-width:90%;overflow:hidden;text-overflow:ellipsis;white-space:nowrap;display: inline-block;}
.fullpage #section4 .seciont4_div_wrap .box_wrap .box .vote_day {text-align: center;font-size: 18px;color: #414141;}

.fullpage #section4 .seciont4_div_wrap .box_wrap .box.long {height: 400px;background: #fff url(../img/main/main_box_bg.jpg) no-repeat center bottom;}
.fullpage #section4 .seciont4_div_wrap .box_wrap .box.long .vote_companyName a {font-size: 30px;}
.fullpage #section4 .seciont4_div_wrap .box_wrap .box.long .vote_day {font-size: 20px;}


.section4_div_swiper .text_swiper_gostop {margin: 0 4px;width: 14px;height: 14px;text-indent: -9999px;font-size: 0;display:inline-block;cursor: pointer;vertical-align: top;background: url(../img/main/main_slide_pasue.png) no-repeat center;-webkit-transition: all 0.4s ease-out; -moz-transition: all 0.4s ease-out; -o-transition: all 0.4s ease-out; transition: all 0.4s ease-out;}
.section4_div_swiper .text_swiper_gostop.go {background: url(../img/main/main_slide_go.png) no-repeat center;}
.section4_div_swiper .swiper-pagination-bullet {background: #fff;opacity: 0.5;width: 14px;height: 14px;-webkit-transition: all 0.4s ease-out; -moz-transition: all 0.4s ease-out; -o-transition: all 0.4s ease-out; transition: all 0.4s ease-out;}
.section4_div_swiper .swiper-pagination-bullet-active {background: #fff;opacity: 1;width: 45px;height: 14px;border-radius: 50px;}

/* ======= section5 푸터 ======= */
.fullpage #section5 .container_wrap {padding-top: 0;}


/*무한깜빡이*/
		
.scroll_area {display:inline-block;padding-left: 30px;position: absolute;bottom: 0;margin-left: -25px;left: 50%;cursor: pointer;}
.scroll_area>i {margin: auto;width: 50px; height: 50px;position: relative;}

.scroll_area .scroll_l {
	/*            position: absolute;*/
	/*            left: 0;*/
	/*            bottom: 10px;*/
	/*            transition-delay: .5s;*/
	-webkit-animation: scroll 1s ease infinite;
	-moz-animation: scroll 1s ease infinite;
	animation: scroll 1s ease infinite;
	display: block;
	background: url(../img/main/scroll_tt.png) no-repeat;
}

.scroll_area .scroll_s {
	margin-top: -27px;
	/*            position: absolute;*/
	/*            left: 0px;*/
	/*            bottom: 0px;*/
	transition-delay: .5s;
	-webkit-animation: scroll 1s ease .2s infinite;
	-moz-animation: scroll 1s ease .2s infinite;
	animation: scroll 1s ease .2s infinite;
	display: block;
	background: url(../img/main/scroll_bb.png) no-repeat;
}

@-webkit-keyframes scroll { 0% { opacity: 0; } 50% { opacity: 1; } 100% { opacity: 0; } }

@keyframes scroll { 0% { opacity: 0; } 50% { opacity: 1; } 100% { opacity: 0; } }

/* 모바일 비대면 계좌 개설 이벤트 */
.promo_dim {display: none;position:fixed;top:0;left:0;z-index:99999;width:100%;height:150%;background:rgba(0,0,0,0.5);}
.promo_cont {display: none;position: absolute;top: 50%;margin-top: -211px;left: 0;width: 372px;height: 422px;z-index: 8970;border: 1px solid #000;}
/* .promo_cont img {max-width: 100%;} */
.promo_cont .promo_bot {background: #fff;height: 40px;padding: 11px 13px;position: relative;border-bottom: 1px solid #000;}
.promo_cont .promo_bot .promo_close {background: url(../img/main/ico_main_promoclose.png) no-repeat right center / 13px;width: 50px;height: 100%;display: inline-block;position: absolute;top:0;right:13px;font-size: 14px;line-height: 36px;}
.promo_cont .promo_bot label {font-size: 14px;font-weight: 400;color: #444;vertical-align: bottom}
.promo_cont .promo_bot input[type="checkbox"] {margin-right: 8px;vertical-align: bottom;}
.promo_fixed {position: fixed !important;height: 100% !important;}
