@charset "utf-8";


/* Reset
-------------------------------------------------------------- */
*{
-webkit-box-sizing:border-box;
-moz-box-sizing:border-box;
box-sizing:border-box;
word-break:break-all;
-webkit-text-size-adjust:none;
}
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video
{margin:0;padding:0;border:0;font-size: 100%;vertical-align: baseline;}
html,body{width:100%;min-height:100%;}
body{font-size:12px;line-height:1;font-family:'맑은 고딕','dotum',sans-serif;color:#666;letter-spacing: -0.5px;}
nav,ol,ul,li{list-style:none;}
label,input,button,select,img{vertical-align:middle}
input,button{margin:0;padding:0;font-family:'맑은 고딕','dotum',sans-serif;font-size:1rem;}
button{cursor:pointer;}
img,input,select,textarea,button{vertical-align:middle;}
textarea,select{font-family:'맑은 고딕','dotum',sans-serif;font-size:1rem;}
select{margin:0;background-color:#fff;}
h1,h2,h3,h4,h5,h6,b,strong{font-weight:700;}
address,cite,em,i{font-style:normal;}
a{text-decoration:none}
a:hover,a:focus,a:active{color:#3399cc;background-color:transparent;}
table{width:100%;border-collapse:collapse;border-spacing:0}
caption,legend{position:absolute;top:0;left:0;width:1px;height:1px;font-size:1px;text-indent:-20000px;}

/* ir */
.ir{width:0;height:0;font-size:0;line-height:0;overflow:hidden;position:absolute;left:0;top:0;}

/* 말줄임 */
.ellipsis{display:inline-block;max-width:85%;overflow:hidden;text-overflow:ellipsis;white-space:nowrap;vertical-align:middle;}

/* skip navigation */
#skip_nav a{position:absolute; top:-500px;font-size:15px;font-weight:600}
#skip_nav a:focus, #skip_nav a:active{top:1px; z-index:99999; display:block; width:100%; height:40px; line-height:40px; font-weight:600; color:#fff; text-align:center; background-color:#015293}

/* menu animation */
.animate,.animate *{-webkit-transition: all 0.2s ease-in-out; -moz-transition: all 0.2s ease-in-out; -o-transition: all 0.2s ease-in-out; transition: all 0.2s ease-in-out;}