@charset "euc-kr";

/* main bg */
.mfullpage #section1 {background: url(../img/main/main_bg1.jpg) no-repeat center/ cover;-webkit-transition: all 0.2s ease-in-out; -moz-transition: all 0.2s ease-in-out; -o-transition: all 0.2s ease-in-out; transition: all 0.2s ease-in-out;}
.mfullpage #section1.slide2 {background: url(../img/main/main_bg1_2.jpg) no-repeat center/ cover;}
.mfullpage #section1.slide3 {background: url(../img/main/main_bg1_3.jpg) no-repeat center/ cover;}
.mfullpage #section2 {background: url(../img/main/main_bg2.jpg) no-repeat center/ cover;}
.mfullpage #section3 {background: url(../img/main/main_bg3.jpg) no-repeat center/ cover;}
.mfullpage #section4 {background: url(../img/main/main_bg4.jpg) no-repeat center/ cover;}

/* main bot bg */
.mbutton_wrap {position: fixed;left:0;bottom:0;width: 100%;height: 37%;z-index: 9000;}
.mbutton_wrap .mbutton_wrap_bg {background: url(../img/main/mainbot_bg_step1.png) no-repeat center bottom / cover;width: 100%;height: 100%;}
.mbutton_wrap.step2 .mbutton_wrap_bg {background: url(../img/main/mainbot_bg_step2.png) no-repeat center / cover;}
.mbutton_wrap.step3 .mbutton_wrap_bg {background: url(../img/main/mainbot_bg_step3.png) no-repeat center / cover;}
.login_company_status, .login_juju_status {display: none;}
.login_company_status .tit a b, .login_juju_status .tit a b {max-width:70%;overflow:hidden;text-overflow:ellipsis;white-space:nowrap;display:inline-block;margin-bottom: -1px;}
.mbutton_wrap .main_jujuimg {max-width: 50%;position: absolute; bottom: 20%;left: 3%;z-index: -1;display: none;}
.mbutton_wrap .main_companyimg {max-width: 60%;position: absolute;bottom: 20%;right: 0;z-index: -1;display: none;}

/* fullpage navigation remove */
#fp-nav {display: none;}

/* color */
.c_orange {color: #f68121;font-weight: bold;}
.c_green {color: #8db81b;font-weight: bold;}
.c_yellow {color: #f7bc5f;font-weight: bold;}

/* main content */
/* fix button wrap */
.mbutton_wrap {pointer-events: none;}
.mbutton_wrap .mbutton_wrap_l {position: absolute;left: 0;bottom: 0;}
.mbutton_wrap .mbutton_wrap_r {position: absolute;right: 0;bottom: 0;}
.mbutton_wrap .mbutton_wrap_l, .mbutton_wrap .mbutton_wrap_r {display: inline-block;width: 50%;text-align: center;vertical-align: bottom;padding-bottom: 11%;}
.mbutton_wrap > div .tit a {font-size: 20px;font-weight: 400;color: #fff;pointer-events: auto;}
.mbutton_wrap > div .tit a b {font-weight: 700;}
.mbutton_wrap > div .content button {background: none;border: 1px solid #fff;border-radius: 60px;width: 137px;height: 33px;color: #fff;font-size: 17px;font-weight: 300;margin-top: 16px;pointer-events: auto;}
.mbutton_wrap > div .content button::after {content: ">";margin-left: 8px;}

/* section1 */
.mfullpage #section1 {color: #fff;text-align: center;}
.mfullpage #section1 .s_tit {font-size: 20px;font-weight: 300;color: #fff}
.mfullpage #section1 .tit {font-size: 30px;font-weight: 300;line-height: 40px;color: #fff;}

/* section2 */
.mfullpage #section2, .mfullpage #section3 {text-align: center;}
.mfullpage #section2 .tit, .mfullpage #section3 .tit{font-size: 30px;font-weight: 300;line-height: 40px;margin-bottom: 11px;}
.mfullpage #section2 .tit {color: #f6a821;}
.mfullpage #section3 .tit {color: #a7e5ff;}
.mfullpage #section2 .s_tit, .mfullpage #section3 .s_tit{font-size: 20px;font-weight: 300;color: #fff;line-height: 1.2;margin-bottom: 30px;}
.mfullpage #section2 .main_button_wrap, .mfullpage #section3 .main_button_wrap {display: table;width: 308px;margin: 0 auto;}
.mfullpage #section2 .main_button_wrap > div, .mfullpage #section3 .main_button_wrap > div {display: table-cell;width: 154px;}
.mfullpage #section2 .main_button_wrap > div:nth-child(1), .mfullpage #section3 .main_button_wrap > div:nth-child(1) {padding-right: 10px;}
.mfullpage #section2 .main_button_wrap > div:nth-child(2), .mfullpage #section3 .main_button_wrap > div:nth-child(2) {padding-left: 10px;}
.mfullpage #section2 .main_button_wrap > div a, .mfullpage #section3 .main_button_wrap > div a {display: block;font-size: 22px;font-weight: 700;text-align: left;height: 88px;padding-top: 22px;}
.mfullpage #section2 .main_button_wrap > div a {color: #f6a821;background: url(../img/main/juju_a_box.png) no-repeat 10px center / 134px 88px;}
.mfullpage #section3 .main_button_wrap > div a {color: #a7e5ff;background: url(../img/main/company_a_box.png) no-repeat 10px center / 134px 88px;}
.mfullpage #section2 .main_button_wrap > div a span, .mfullpage #section3 .main_button_wrap > div a span {color: #d6d6d6;font-size: 15px;font-weight: 400;display: block;margin-bottom: 7px;}
.mfullpage .section_alink {font-size: 14px;color: #d6d6d6;font-weight: 300;margin-top: 40px;display: inline-block;position: relative;}
.mfullpage .section_alink::after {content: "";display: inline-block;width: 10px;height: 8px;background: url(../img/main/ico_atext_go.png) no-repeat center / contain;position: absolute;top:3px;right:-12px;}
.mfullpage .section_posiwrap {position: relative;top: -15%;}

.mfullpage #section3 img {position: absolute;bottom: 0;right: 0;max-width: 100%;display: none;}

/* swiper css */
/* section1_text_swiper css */
.section1_text_swiper {height: 55%;position: relative;top: -15%;}
.section1_text_swiper .swiper-pagination-bullet {width: 13px;height: 6px;background: rgba(255,255,255,0.5);border-radius: 5px;-webkit-transition: all 0.6s ease-in-out; -moz-transition: all 0.6s ease-in-out; -o-transition: all 0.6s ease-in-out; transition: all 0.6s ease-in-out;}
.section1_text_swiper .swiper-pagination-bullet-active {background: #fff;width: 17px;}
.section1_text_swiper .swiper-slide[data-swiper-slide-index="0"] {padding-top: 29px;}
.section1_text_swiper .swiper-slide[data-swiper-slide-index="1"] a {font-size: 14px;color: #d6d6d6;font-weight: 300;margin-top: 25px;display: inline-block;}
.section1_text_swiper .swiper-slide[data-swiper-slide-index="1"] .tit {padding-top: 29px;}
.section1_text_swiper .swiper-slide[data-swiper-slide-index="2"] {padding-top: 27px;}
.ico_main_vtext {width: 39px;height: 33px;background: url(../img/main/ico_main_vtext.png) no-repeat center / 100%;text-indent: -9999px;font-size: 0;display: inline-block;vertical-align: top;}
.ico_main_happytext {position: relative;}
.ico_main_happytext::after {content: "";display: inline-block;width: 45px;height: 41px;background: url(../img/main/ico_main_happytext.png) no-repeat center / 100%;position: absolute;top: -30px;left: 30px;}
.ico_main_happytext2 {width: 10px;height: 32px;background: url(../img/main/ico_main_happytext2.png) no-repeat center / 100%;display: inline-block;vertical-align: top;margin-left: 5px;margin-top: 3px;}

/* dow, kosdaq, nasdaq, kospi ½½¶óÀÌ´õ css */
.swiper-container.stock_info {width: 237px; height: 37px;position: absolute;bottom: 42%;left: 50%;z-index: 15;transform: translateX(-50%);}
.stock_info .swiper-slide {text-align: center; font-size: 18px; background: rgba(0,0,0,0.4);  /* Center slide text vertically */ display: -webkit-box; display: -ms-flexbox; display: -webkit-flex; display: flex; -webkit-box-pack: center; -ms-flex-pack: center; -webkit-justify-content: center; justify-content: center; -webkit-box-align: center; -ms-flex-align: center; -webkit-align-items: center; align-items: center; }
.stock_info .swiper-slide > ul {width: 100%;font-size: 0;}
.stock_info .swiper-slide > ul li {display: inline-block;vertical-align: middle;}
.stock_info .swiper-slide > ul .stock_name {font-size: 14px;font-weight: 400;color: #fff;width: 78px;position: relative;}
.stock_info .swiper-slide > ul .stock_name::after {content: "";display: inline-block;width: 1px;height: 15px;background: #555a5a;position: absolute;right: 0;top: 2px;}
.stock_info .swiper-slide > ul .stock_score {font-size: 20px;font-weight: 400;color: #fff;width: 96px;}
.stock_info .swiper-slide > ul .stock_percent {font-size: 13px;font-weight: 700;color: #898989;width: 58px;height: 20px;line-height: 20px;}
.stock_info .swiper-slide > ul .stock_percent::before {content: "¡ª";margin-right: 5px;}
.stock_info .swiper-slide > ul .stock_percent.up {font-size: 12px;font-weight: 300;color: #ff2101;width: 58px;height: 20px;line-height: 20px;}
.stock_info .swiper-slide > ul .stock_percent.up::before {content: "¡ã";margin-right: 5px;}
.stock_info .swiper-slide > ul .stock_percent.down {font-size: 12px;font-weight: 300;color: #0173ff;width: 58px;height: 20px;line-height: 20px;}
.stock_info .swiper-slide > ul .stock_percent.down::before {content: "¡å";margin-right: 5px;}



/* ======= section4 ======= */
.mfullpage #section4 .container_wrap .seciont4_div_wrap {/*margin-top: 6.8%;width: 796px;*/}
.mfullpage #section4 .container_wrap .seciont4_div_wrap > p {font-size: 30px;color: #282a35;text-align: center;margin-bottom: 22px;}
.mfullpage #section4 .container_wrap .seciont4_div_wrap > p span {font-weight: 700;}

.mfullpage #section4 .seciont4_div_wrap .focus_company {background: rgba(40, 42, 53, 0.6);color: #fff;text-align: center;display:table;height: 70px;/*margin: 0 58px;*/}
.mfullpage #section4 .seciont4_div_wrap .focus_company .focus_company_l {display:table-cell;width: 235px;font-size: 18px;vertical-align: middle;}
.mfullpage #section4 .seciont4_div_wrap .focus_company .focus_company_r {display:table-cell;width: 561px;vertical-align: middle;}
.mfullpage #section4 .seciont4_div_wrap .focus_company .focus_company_r a {font-size: 30px;font-weight: 700;color: #fff;}
.mfullpage #section4 .seciont4_div_wrap .box_wrap {/*padding: 0 48px 60px;*/}
.mfullpage #section4 .seciont4_div_wrap .box_wrap::after {content: "";display: block;clear:both;}
.mfullpage #section4 .seciont4_div_wrap .box_wrap .box {float: left;width: 141px;height: 120px;background:#fff;margin-right: 2%;margin-bottom: 2%;cursor: pointer;box-shadow: 3px 4px 5px 0px rgba(168,181,186,0.8);}
.mfullpage #section4 .seciont4_div_wrap .box_wrap .box.none {background: #fff url(../img/main/non_data_s.jpg) no-repeat center / cover !important;background-size: 120px auto;}
.mfullpage #section4 .seciont4_div_wrap .box_wrap .box.long.none {background: #fff url(../img/main/non_data_l.jpg) no-repeat center / cover !important;background-size: 289px auto;}
.mfullpage #section4 .seciont4_div_wrap .box_wrap .box.none * {font-size: 0 !important;background: none !important;border: none !important;}
.mfullpage #section4 .seciont4_div_wrap .box_wrap .box:first-child {margin-left: 10px;}

.mfullpage #section4 .seciont4_div_wrap .box_wrap .box .markarea {margin-bottom: 22px;height: 23px;}
.mfullpage #section4 .seciont4_div_wrap .box_wrap .box .markarea:after {content:'';display:block; clear:both;}
.mfullpage #section4 .seciont4_div_wrap .box_wrap .box span {float:left;}
.mfullpage #section4 .seciont4_div_wrap .box_wrap .box .vote_dday {margin-left: 8px;font-size: 13px;background: #282a35;color: #fff;width: 36px;height: 23px;display: inline-block;line-height: 23px;text-align: center; font-size: 13px;color: #414141;color:#fff;}
.mfullpage #section4 .seciont4_div_wrap .box_wrap .box .vote_status {text-align: center;font-size: 14px;color: #898989;margin-bottom: 13px;}
.mfullpage #section4 .seciont4_div_wrap .box_wrap .box .vote_companyName {text-align: center;margin-bottom: 7px;}
.mfullpage #section4 .seciont4_div_wrap .box_wrap .box .vote_companyName a {font-size: 22px;font-weight: 700;color: #f68121;max-width:90%;overflow:hidden;text-overflow:ellipsis;white-space:nowrap;display: inline-block;}
.mfullpage #section4 .seciont4_div_wrap .box_wrap .box .vote_dday.vote_mark {color: #777; border:1px solid #777;border-top:none;border-left:none;margin-left: 0px;background:#fff;width: auto;}
.mfullpage #section4 .section4_title {font-size: 30px;color: #1d2025;text-align: center;margin-bottom: 25px;}
.mfullpage #section4 .section4_title span {font-weight: 700;}
.mfullpage #section4 .section4_div_swiper {padding-bottom: 30px;}
.mfullpage #section4 .seciont4_div_wrap .box_wrap .box.long {width:289px; background: #fff;}
.mfullpage #section4 .seciont4_div_wrap .box_wrap .box.long .vote_companyName a {font-size: 30px;}
.mfullpage #section4 .seciont4_div_wrap .box_wrap .box .vote_day {font-size: 16px; text-align:center;}


.section4_div_swiper .text_swiper_gostop {margin: 0 4px;width: 14px;height: 14px;text-indent: -9999px;font-size: 0;display:inline-block;cursor: pointer;vertical-align: top;background: url(../img/main/main_slide_pasue.png) no-repeat center;-webkit-transition: all 0.4s ease-out; -moz-transition: all 0.4s ease-out; -o-transition: all 0.4s ease-out; transition: all 0.4s ease-out;}
.section4_div_swiper .text_swiper_gostop.go {background: url(../img/main/main_slide_go.png) no-repeat center;}
.section4_div_swiper .swiper-pagination-bullet {background: #fff;opacity: 0.5;width: 14px;height: 14px;-webkit-transition: all 0.4s ease-out; -moz-transition: all 0.4s ease-out; -o-transition: all 0.4s ease-out; transition: all 0.4s ease-out;}
.section4_div_swiper .swiper-pagination-bullet-active {background: #fff;opacity: 1;width: 45px;height: 14px;border-radius: 50px;}

.section4_div_swiper .swiper-button-next {background: url(../img/main/section4_next.png) no-repeat center / 23px;right: 5px;}
.section4_div_swiper .swiper-button-prev {background: url(../img/main/section4_prev.png) no-repeat center / 23px;left: 5px;}
/*.box_wrap {display:table; table-layout:fixed; width:100%;}
.box_wrap li {}
.box_wrap li div {display:table-cell;}*/
.box_wrap {margin:0 auto;width:308px;}
.box_wrap li {}
.box_wrap li div {}

/*¹«ÇÑ±ôºýÀÌ*/
		
.scroll_area {display:inline-block;position: absolute;top: 25%;margin-left: -12px;left: 50%;cursor: pointer;}
.scroll_area>i {margin: auto;width: 25px; height: 25px;position: relative;}

.scroll_area .scroll_l {
	/*            position: absolute;*/
	/*            left: 0;*/
	/*            bottom: 10px;*/
	/*            transition-delay: .5s;*/
	-webkit-animation: scroll 1s ease infinite;
	-moz-animation: scroll 1s ease infinite;
	animation: scroll 1s ease infinite;
	display: block;
	background: url(../img/main/scroll_tt.png) no-repeat center / 25px;
}

.scroll_area .scroll_s {
	margin-top: -16px;
	/*            position: absolute;*/
	/*            left: 0px;*/
	/*            bottom: 0px;*/
	transition-delay: .5s;
	-webkit-animation: scroll 1s ease .2s infinite;
	-moz-animation: scroll 1s ease .2s infinite;
	animation: scroll 1s ease .2s infinite;
	display: block;
	background: url(../img/main/scroll_bb.png) no-repeat center / 25px;
}

@-webkit-keyframes scroll { 0% { opacity: 0; } 50% { opacity: 1; } 100% { opacity: 0; } }

@keyframes scroll { 0% { opacity: 0; } 50% { opacity: 1; } 100% { opacity: 0; } }